<a href="https://cognitiveclass.ai"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [2]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [13]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [14]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [17]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1610.8999 - val_loss: 1112.6333
Epoch 2/100
 - 0s - loss: 1455.7980 - val_loss: 974.3866
Epoch 3/100
 - 0s - loss: 1210.6978 - val_loss: 773.5198
Epoch 4/100
 - 0s - loss: 871.1731 - val_loss: 528.5923
Epoch 5/100
 - 0s - loss: 523.8749 - val_loss: 314.1920
Epoch 6/100
 - 0s - loss: 305.7038 - val_loss: 204.3505
Epoch 7/100
 - 0s - loss: 240.7086 - val_loss: 181.9653
Epoch 8/100
 - 0s - loss: 222.6051 - val_loss: 171.3957
Epoch 9/100
 - 0s - loss: 210.6838 - val_loss: 170.1472
Epoch 10/100
 - 0s - loss: 201.0339 - val_loss: 165.9656
Epoch 11/100
 - 0s - loss: 193.8737 - val_loss: 161.1602
Epoch 12/100
 - 0s - loss: 187.0117 - val_loss: 160.6422
Epoch 13/100
 - 0s - loss: 181.1087 - val_loss: 157.5089
Epoch 14/100
 - 0s - loss: 176.2174 - val_loss: 155.7622
Epoch 15/100
 - 0s - loss: 172.6604 - val_loss: 154.5910
Epoch 16/100
 - 0s - loss: 168.2123 - val_loss: 152.9331
Epoch 17/100
 - 0s - loss: 165.0095 - val_loss: 150.3571
Epoch 18/100
 - 0s - loss: 162.5346 - val_loss: 152.2527
Epoch 19/100
 - 0s - loss: 159.3503 - val_loss: 150.6007
Epoch 20/100
 - 0s - loss: 157.5766 - val_loss: 151.5905
Epoch 21/100
 - 0s - loss: 154.9535 - val_loss: 152.6582
Epoch 22/100
 - 0s - loss: 152.8579 - val_loss: 151.8367
Epoch 23/100
 - 0s - loss: 150.8426 - val_loss: 151.9164
Epoch 24/100
 - 0s - loss: 148.9896 - val_loss: 150.2460
Epoch 25/100
 - 0s - loss: 148.0601 - val_loss: 153.2285
Epoch 26/100
 - 0s - loss: 145.7324 - val_loss: 153.0998
Epoch 27/100
 - 0s - loss: 144.4913 - val_loss: 155.7195
Epoch 28/100
 - 0s - loss: 143.2173 - val_loss: 156.4565
Epoch 29/100
 - 0s - loss: 141.4632 - val_loss: 156.5064
Epoch 30/100
 - 0s - loss: 139.9385 - val_loss: 155.6718
Epoch 31/100
 - 0s - loss: 138.7835 - val_loss: 158.0053
Epoch 32/100
 - 0s - loss: 136.9793 - val_loss: 161.0946
Epoch 33/100
 - 0s - loss: 135.7526 - val_loss: 160.1197
Epoch 34/100
 - 0s - loss: 134.2547 - val_loss: 160.6851
Epoch 35/100
 - 0s - loss: 132.5513 - val_loss: 164.1634
Epoch 36/100
 - 0s - loss: 131.1393 - val_loss: 160.7321
Epoch 37/100
 - 0s - loss: 129.8258 - val_loss: 161.8911
Epoch 38/100
 - 0s - loss: 128.3138 - val_loss: 161.0724
Epoch 39/100
 - 0s - loss: 126.6255 - val_loss: 163.0832
Epoch 40/100
 - 0s - loss: 125.4816 - val_loss: 161.1367
Epoch 41/100
 - 0s - loss: 123.0436 - val_loss: 163.6112
Epoch 42/100
 - 0s - loss: 121.3189 - val_loss: 159.4184
Epoch 43/100
 - 0s - loss: 119.2015 - val_loss: 164.2275
Epoch 44/100
 - 0s - loss: 117.3250 - val_loss: 160.3053
Epoch 45/100
 - 0s - loss: 115.2088 - val_loss: 162.0456
Epoch 46/100
 - 0s - loss: 113.3830 - val_loss: 159.7083
Epoch 47/100
 - 0s - loss: 110.9444 - val_loss: 165.3893
Epoch 48/100
 - 0s - loss: 109.0559 - val_loss: 158.2835
Epoch 49/100
 - 0s - loss: 106.5291 - val_loss: 161.4626
Epoch 50/100
 - 0s - loss: 103.6270 - val_loss: 158.0323
Epoch 51/100
 - 0s - loss: 100.6461 - val_loss: 154.1194
Epoch 52/100
 - 0s - loss: 97.5893 - val_loss: 150.1161
Epoch 53/100
 - 0s - loss: 94.1906 - val_loss: 149.3583
Epoch 54/100
 - 0s - loss: 90.6607 - val_loss: 147.5939
Epoch 55/100
 - 0s - loss: 87.3501 - val_loss: 142.2211
Epoch 56/100
 - 0s - loss: 83.2871 - val_loss: 145.5020
Epoch 57/100
 - 0s - loss: 79.9580 - val_loss: 138.9691
Epoch 58/100
 - 0s - loss: 75.8922 - val_loss: 140.3927
Epoch 59/100
 - 0s - loss: 72.8241 - val_loss: 131.2375
Epoch 60/100
 - 0s - loss: 70.7914 - val_loss: 146.2599
Epoch 61/100
 - 0s - loss: 66.8936 - val_loss: 134.1944
Epoch 62/100
 - 0s - loss: 64.6478 - val_loss: 133.2941
Epoch 63/100
 - 0s - loss: 61.9394 - val_loss: 134.2656
Epoch 64/100
 - 0s - loss: 59.6453 - val_loss: 127.0166
Epoch 65/100
 - 0s - loss: 58.0975 - val_loss: 144.7284
Epoch 66/100
 - 0s - loss: 57.0125 - val_loss: 145.3773
Epoch 67/100
 - 0s - loss: 55.1323 - val_loss: 125.9221
Epoch 68/100
 - 0s - loss: 53.1112 - val_loss: 144.2050
Epoch 69/100
 - 0s - loss: 52.0163 - val_loss: 132.0403
Epoch 70/100
 - 0s - loss: 50.6349 - val_loss: 142.2878
Epoch 71/100
 - 0s - loss: 48.8271 - val_loss: 146.0235
Epoch 72/100
 - 0s - loss: 48.1621 - val_loss: 134.6825
Epoch 73/100
 - 0s - loss: 47.3068 - val_loss: 146.0294
Epoch 74/100
 - 0s - loss: 46.9547 - val_loss: 155.0940
Epoch 75/100
 - 0s - loss: 45.9792 - val_loss: 141.7066
Epoch 76/100
 - 0s - loss: 44.2625 - val_loss: 148.2160
Epoch 77/100
 - 0s - loss: 43.9050 - val_loss: 150.8626
Epoch 78/100
 - 0s - loss: 43.3231 - val_loss: 144.7057
Epoch 79/100
 - 0s - loss: 42.5845 - val_loss: 161.6414
Epoch 80/100
 - 0s - loss: 42.1256 - val_loss: 136.3609
Epoch 81/100
 - 0s - loss: 41.0339 - val_loss: 154.6910
Epoch 82/100
 - 0s - loss: 40.6441 - val_loss: 147.5742
Epoch 83/100
 - 0s - loss: 40.4378 - val_loss: 151.9930
Epoch 84/100
 - 0s - loss: 40.3522 - val_loss: 156.7145
Epoch 85/100
 - 0s - loss: 39.9608 - val_loss: 145.3874
Epoch 86/100
 - 0s - loss: 38.6591 - val_loss: 155.5414
Epoch 87/100
 - 0s - loss: 38.1799 - val_loss: 153.8061
Epoch 88/100
 - 0s - loss: 37.7260 - val_loss: 146.7210
Epoch 89/100
 - 0s - loss: 37.5304 - val_loss: 160.3945
Epoch 90/100
 - 0s - loss: 37.1308 - val_loss: 167.0069
Epoch 91/100
 - 0s - loss: 36.9853 - val_loss: 154.6606
Epoch 92/100
 - 0s - loss: 36.2926 - val_loss: 148.5162
Epoch 93/100
 - 0s - loss: 37.5947 - val_loss: 167.1993
Epoch 94/100
 - 0s - loss: 35.8382 - val_loss: 155.3473
Epoch 95/100
 - 0s - loss: 35.3840 - val_loss: 145.6824
Epoch 96/100
 - 0s - loss: 34.8941 - val_loss: 159.1769
Epoch 97/100
 - 0s - loss: 35.0762 - val_loss: 155.2733
Epoch 98/100
 - 0s - loss: 34.2685 - val_loss: 144.4710
Epoch 99/100
 - 0s - loss: 34.1562 - val_loss: 155.9258
Epoch 100/100
 - 0s - loss: 33.7997 - val_loss: 158.3594

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).